# This group is read both both by the client and the server
# use it for options that affect everything

[client-server]
port=3306
socket=/tmp/mysql.sock
user=root

[mysqld]
port=3306
feedback=ON
key_buffer_size=16M
max_allowed_packet=8M
bind-address=0.0.0.0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# include all files from the config directory
#!includedir /etc/my.cnf.d/*